$base-padding: 15px;

.matrix {
  &-container {
    height: 90%;
    padding: $base-padding;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: center;
  }

  &-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-column {
    border: 1px grey solid;
    height: 0;
    position: relative;
  }

  &-column[data-descr]::before {
    color: white;
    content: attr(data-descr);
    position: absolute;
    left: 40%;
    bottom: 25%;
  }
}
