<div class="matrix-container">
  <div
    *ngFor="let row of matrix; let yIndex = index"
    class="matrix-row"
  >
    <div
      *ngFor="let column of row; let xIndex = index"
      class="matrix-column"
      [ngStyle]="cellDimentions"
      [style.background-color]="getBackgroundColor(yIndex, xIndex)"
      [style.font-size.px]="fontSize"
      [attr.data-descr]="
        showCount(yIndex, xIndex) ? count : ''
      "
      (click)="cellClicked(yIndex, xIndex)"
      (mouseleave)="onMouseLeave(yIndex, xIndex)"
      (mouseover)="onMouseEnter(yIndex, xIndex)"
    ></div>
  </div>
</div>
