<div class="app-container">
  <div class="header">
    <h1>Welcome to {{ title }}!</h1>
  </div>
  <div class="app">
    <div [formGroup]="form" class="input-fields">
      <div class="input-header">Matrix Inputs</div>
      <div class="color-picker active-cell-color">
        <div class="label">Background color</div>
        <input
          formControlName="activeCellColor"
          type="color"
          id="activeCellColor"
          class="input"
          value="red"
        />
      </div>
      <div class="color-picker active-cell-hover-color">
        <div class="label">Background hover color</div>
        <input
          formControlName="activeCellHoverColor"
          type="color"
          id="activeCellHoverColor"
          class="input"
          value="orange"
        />
      </div>
      <div class="color-picker active-cell-hover-color">
        <div class="label">Matrix size (2 - 30)</div>
        <mat-slider
          formControlName="matrixSize"
          min="2"
          max="30"
          step="1"
          value="10"
          tickInterval="5"
          class="input"
          [thumbLabel]="true"
        ></mat-slider>
      </div>
    </div>
    <jn-matrix
      class="matrix"
      [matrix]="matrix | async"
      [size]="size"
      [traversalResponse]="traversalResponse"
      [backgroundColors]="backGroundColors"
      (traverse)="traverse($event)"
    ></jn-matrix>
  </div>
</div>
