.app-container {
  height: 98vh;
  width: 99vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  .header {
    height: 10vh;
    text-align: center;
    background-color: rgb(25, 1, 31);
    color: white;
  }
  .app {
    height: 90vh;
    display: flex;
    flex-direction: row;
    .matrix {
      display: flex;
      flex: 1 1 70%;
      flex-direction: column;
      justify-content: center;
    }
    .input-fields {
      flex: 1 1 30%;
      border-right: 1px rgb(4, 4, 26) solid;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 30px;
      padding-right: 30px;
      .input-header {
        height: 5vh;
        width: 100%;
        margin-top: 15px;
        background-color: rgb(129, 13, 238);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        color: white;
        font-size: 30px;
      }
      .color-picker {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        border: 1px lightgrey solid;
        input {
          border-radius: 5px;
        }
        .label {
          font-size: 20px;
          width: 40%;
          padding-right: 15px;
        }
      }
    }
  }
}
